body {
    color: #e8e9e9;
    background-color: #231111;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(-45deg, #241414, #130B0B, #1F1212, #1D1111);
    background-size: 400% 400%;
	animation: gradient 100s infinite;
	height: 100vh;
    padding-bottom: 15%;
}

.normal-text {
    color: white;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#cv-container {
    margin: 0px 20px 20px 20px;
}

#information-container {
    margin: 0px 20px 20px 20px;
}

.button-link {
    text-decoration: none;
    color: #b89c9c;
    background-color: #452222;
    padding: 10px 10px 10px 10px;
    /* border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC; */
}

a:hover {
    color: #231111;
    background-color: #b89c9c;
}

button {
    color: #b89c9c;
    background-color: #452222;
    border-color: #785a5a;
    border-bottom: 0;
    border-top: 0;
    height: 50%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;
}

.button-clicked {
    color: #3c1111;
    background-color: #785a5a;
}

.button:hover {
    color: #231111;
    background-color: #b89c9c;
}

.header-container {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header-container > div {
    height: 100px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
}

.semi-highlighted-text {
    color: #b89c9c;
    font-weight: 400;
}

h1 {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2%;
}

h2 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

h3 {
    color: #e0a2a2;
    display: inline;
    font-weight: 700;
}

p {
    margin: 0px;
}

.hidden {
    display: none;
}

#circle {
    float: left;
    width: 300px;
    height: 300px;
    margin: 20px;
    shape-outside: circle();
    clip-path: circle();
    background: #745656;
}

.information-normal-text {
    font-size: 3rem;
    font-weight: 500;
    text-align: justify;
    line-height: 4.5rem;
}

.information-highlight-text {
    color: #e0a2a2;
}

#circle-object {
    float: left;
    width: 30rem;
    height: 30rem;
    margin: 4%;
    shape-outside: circle();
    clip-path: circle();
}

.cropped-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 40%;
    border-left: 10px solid #745656;
    border-right: 10px solid #e8e9e9;
    border-radius: 500px;
    box-sizing: border-box;
    border-bottom: 10px solid #b89c9c;
    border-top: 10px solid #e0a2a2;
}

::placeholder {
    color: rgb(194, 185, 171);
    padding-right: 20px;
}

#contact-container {
    text-align: center;
}

.spacing-1 {
    font-size: 2rem;
}

.spacing-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    padding-left: 20px;
}

.form-active {
    background-color: rgb(45,27,27) !important;
}

input:hover,
textarea:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

textarea:focus, 
input:focus{
    outline: none;
}

form {
    display: inline-block;
}

textarea {
    padding-left: 20px;
}

.form-name {
    width: 15rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 100;
    background-color: rgb(54, 34, 34);
    color: #e0a2a2;
    border: 0px;
    border-radius: 10px;
}

.form-email-phone {
    width: 15rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 100;
    background-color: rgb(65, 48, 43);
    color: #e0a2a2;
    border: 0px;
    border-radius: 10px;
}

#form-address {
    width: 31rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 100;
    background-color: rgb(83, 59, 59);
    color: #e0a2a2;
    border: 0px;
    border-radius: 10px;
    padding-right: 20px;
}

#form-message {
    width: 31rem;
    height: 5rem;
    font-size: 1rem;
    font-weight: 100;
    background-color: rgb(112, 84, 84);
    color: #e0a2a2;
    border: 0px;
    border-radius: 10px;
    padding-right: 20px;
}

#form-submit {
    background-color: rgb(201,125,124);
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    border: 0px;
    width:20%;
    height:100%;
    font-size: 15px;
    padding: 2%;
    font-weight: 300;
}